@import '../../../app/styles/variables/mixins';
@import '../../../app/styles/variables/variables';

.chooseProductModal_mainBox {
    @include defaultModalStyle;
    width: 1400px;
    background-color: $themeColorDark;
    padding: 0;

    .chooseProductModal_wrapper {
        @include flexOnlyBetween;
        padding: $defaultLargeMargin;
        gap: 20px;
        height: 70vh;

        .chooseProductModal_tagTreeView {
            background-color: $themeColorGray;
            border-radius: $smallBorderRadius;
            width: 25%;
        }
        .chooseProductModal_catalogTable {
            width: 75%;
        }
    }
}