@import '../../app/styles/variables/mixins';
@import '../../app/styles/variables/variables';

.printModal_mainBox {
  @include defaultModalStyle;
  @include flexCenter;
  min-width: 500px;

  .printModal_buttons {
    width: 100%;
    display: flex;
    gap: $defaultExtraLargeMargin;
    background-color: $themeColorGray;
    padding: $defaultLargeMargin;
    border-radius: $smallBorderRadius;
    margin-bottom: $defaultSmallMargin;

    button {
      padding: $defaultSmallMargin;
      width: 100%;
    }
  }

  .printModal_content {
    background-color: $themeColorGray;
    padding: $defaultLargeMargin;
    border-radius: $smallBorderRadius;
    display: flex;
    justify-content: center;

    .scrollWrapper {
      padding-right: 5px;


    }
  }
}