@import '../../app/styles/variables/mixins';
@import '../../app/styles/variables/variables';

.discountModal_mainBox {
    @include defaultModalStyle;
    width: 250px; // замена ширины из миксина

    .discountModal_selectBlock {
        margin-bottom: $defaultLargeMargin;

        .select_box {
            color: black;
        }
    }
    .discountModal_buttonsBlock {
        @include flexColumn;
        position: relative;
        z-index: -100;

        button {
            width: 170px;
            padding: $smallButtonPadding;

            &:first-child {
                margin-bottom: $defaultSmallMargin;
            }
        }
    }
}
