$themeColorWhite: white;
$themeColorGray: #5C636A;
$themeColorDark: #33373B;

$containerWidth: 1400px;

$defaultBorderRadius: 20px;
$defaultMargin: 20px;

$smallButtonPadding: 10px 20px;
$bigButtonPadding: 16px 20px;