@import '../../app/styles/variables/mixins';
@import '../../app/styles/variables/variables';

.userRoleModal_mainBox {
    @include defaultModalStyle;
    width: 700px;
    height: 700px;

    > div {
        @include flexOnlyBetween;
        gap: $defaultLargeMargin;
        border: 1px solid white;
    }

    .userRoleModal_header {
        margin-bottom: $defaultLargeMargin;
        width: 100%;
        height: 70%;

        > div {
            border: 1px solid white;
        }

        .header_groups {
            width: 30%;
            @include flexColumnOnly;

            .groups_groups {
                border: 1px solid white;
                height: 90%;
                margin-bottom: $defaultSmallMargin;
                padding: $defaultSmallMargin;
                border-radius: $smallBorderRadius;
                background-color: $themeColorGray;
            }
            .createGroup {
                height: 10%;
                width: 100%;

                button {
                    width: 100%;
                }
            }
        }
        .header_roles {
            width: 70%;
            @include flexColumnOnly;
            gap: $defaultSmallMargin;

            > div {
                border: 1px solid white;
            }

            .roles_description {
                height: 45%;
                padding: $defaultSmallMargin;
                border-radius: $smallBorderRadius;
                background-color: $themeColorGray;
            }
            .roles_tabs {
                height: 10%;
                @include flexBetween;

                > div {
                    border: 1px solid white;
                    //height: 100%;
                }

                .tabs_toggle {
                    width: 70%;
                }
                .tabs_arrows {
                    width: 30%;
                }
            }
            .roles_roles {
                height: 45%;
                padding: $defaultSmallMargin;
                border-radius: $smallBorderRadius;
                background-color: $themeColorGray;
            }
        }
    }
    .userRoleModal_bottom {
        width: 100%;
        height: 27%; // 3 - поправка на нижний отступ

        > div {
            border: 1px solid white;
        }

        .bottom_deals {
            width: 70%;
            height: 100%;
            @include flexColumnOnly;
            justify-content: space-between;
            gap: $defaultSmallMargin;

            .deals_select {
                height: 10%; // ?
            }
            .deals_table {
                padding: $defaultSmallMargin;
                border-radius: $smallBorderRadius;
                background-color: $themeColorGray;
                height: 70%; // ?
            }
        }
        .bottom_buttons {
            width: 30%;
            @include flexColumnOnly;
            justify-content: space-between;

            button {
                width: 100%;
            }
        }
    }
}