@import './src/shared/styles/mixins';
@import './src/shared/styles/variables';

.cashboxWrapper {
    @include defaultContainer();

    .cashboxMainBlock {
        @include wrapperMainBlock();
        display: flex;
        justify-content: space-between;

        .cashboxMainBlock_leftSideWrapper {
            width: 30%;
            margin: $defaultSmallMargin;
            @include flexColumn();

            .leftSide_tables {
                background-color: $themeColorDark;
                border-radius: $defaultBorderRadius;
                min-width: 100%;
                height: 20%;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                padding: 20px;

                button {
                    margin: 10px;
                    padding: 10px 40px;
                }
            }
            .leftSide_client {
                background-color: $themeColorDark;
                border-radius: $defaultBorderRadius;
                width: 100%;
                height: 40%;
                margin: $defaultLargeMargin 0;
                display: flex;
                flex-direction: column;

                .leftSide_client_background {
                    background-color: $themeColorGray;
                    border-radius: $defaultBorderRadius;
                    margin: $defaultLargeMargin;
                    padding: $defaultLargeMargin;

                    p {
                        margin: 5px 0;
                    }
                }

                .leftSide_client_buttons {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    margin: 0 $defaultLargeMargin;

                    .client_buttons_choose {
                        margin-bottom: $defaultLargeMargin;

                        button {
                            width: 250px;
                            padding: $bigButtonPadding;
                        }
                    }
                    .client_buttons_cancel {
                        button {
                            width: 30px;
                            height: 56px;
                            padding: 0;
                            font-size: 20px;
                        }
                    }
                }
            }

            .leftSide_discount {
                @include flexColumn();
                justify-content: space-between;
                background-color: $themeColorDark;
                border-radius: $defaultBorderRadius;
                padding: $bigButtonPadding;
                width: 100%;
                height: 40%;

                .discount_background {
                    background-color: $themeColorGray;
                    border-radius: $defaultBorderRadius;
                    margin-bottom: $defaultLargeMargin;
                    padding: $defaultLargeMargin;
                    width: 100%;
                    height: 100%;

                    .discount_info {
                        @include flexColumn();

                        .info_value {
                            margin-bottom: $defaultSmallMargin;
                            font-weight: bold;
                        }
                        .info_title {
                            border: 2px solid #C0C0C0;
                            border-radius: 10px;
                            padding: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: $defaultLargeMargin;
                            width: 100%;
                        }

                        .info_types {
                            @include flexBetween();
                            width: 100%;

                            .info_type {
                                @include defaultFiledStyle();
                                width: 30%;
                            }
                            .info_value {
                                @include defaultFiledStyle();
                                width: 65%;
                            }
                        }
                    }
                }
                .discount_buttons {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    margin: 0 $defaultLargeMargin;
                    width: 100%;

                    .buttons_choose {
                        button {
                            max-width: 300px;
                            padding: $bigButtonPadding;

                        }
                    }
                    .buttons_cancel {
                        button {
                            width: 30px;
                            height: 56px;
                            padding: 0;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .cashboxMainBlock_rightSideWrapper {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: $defaultSmallMargin;
            background-color: $themeColorGray;
            border-radius: $defaultBorderRadius;
            padding: $defaultLargeMargin;

            .cashboxMainBlock_rightSideHeader {
                display: flex;
                justify-content: space-between;
                margin-bottom: $defaultLargeMargin;

                .header_chooseBtn {
                    button {
                        width: 200px;
                        padding: 16px 0;
                    }
                }
                .header_searchInput {
                    input {
                        min-width: 580px;
                    }
                }
            }

            .cashboxMainBlock_rightSideMiddle {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                height: 70%;
                background-color: $themeColorDark;
                border-radius: $defaultBorderRadius;
                margin-bottom: $defaultLargeMargin;
            }

            .cashboxMainBlock_rightSideBottom {

                .rightSideBottom_buttonsBlock {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: $defaultLargeMargin;

                    .buttonsBlock_one {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        > div {
                            margin-right: $defaultLargeMargin;
                        }

                        .one_cancelBtn {
                            button {
                                width: 50px;
                                height: 50px;
                                padding: 5px;
                                font-size: 20px;
                            }
                        }
                        .one_noDiscount {
                            @include defaultFiledStyle();
                        }
                        .one_discount {
                            @include defaultFiledStyle();
                        }
                    }

                    .buttonsBlock_two {
                        @include defaultFiledStyle();
                    }
                }

                .rightSideBottom_payBlock {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}