@import '../../app/styles/variables/mixins';
@import '../../app/styles/variables/variables';

.employeeSalaryModal_mainBlock {
    @include defaultModalStyle;
    gap: $defaultLargeMargin;
    min-width: 600px;

    .employeeSalaryModal_title {
        @include modalTitle;
    }

    .employeeSalaryModal_content {
        @include flexOnlyBetween;
        gap: $defaultLargeMargin;

        .content_scrollWrapper {

            .content_employeeList {
                background-color: $themeColorMilk;
                padding: $defaultLargeMargin;
                border-radius: $smallBorderRadius;
                color: black;
                @include divExtraSmallMarginBottom;
                height: 312px;
                overflow-y: auto;

                .employeeList_item {
                    padding: 5px;

                    &:hover {
                        //color: gold;
                        cursor: pointer;
                        background-color: $themeColorDark;
                        //border-radius: $smallBorderRadius;
                        color: white;
                        padding: 5px;
                    }
                }

                .employeeList_item_active {
                    background-color: $themeColorDark;
                    //border-radius: $smallBorderRadius;
                    color: white;
                    padding: 5px;
                }
            }
        }
        .content_employeeData {
            min-width: 300px;

            .employeeData_inputs {
                //@include divSmallMarginBottom;

                > div {
                    margin-bottom: $defaultSmallMargin;
                }

                .inputs_cancelBtn {
                    button {
                        @include defaultMediumButton;
                    }
                }
            }

            .employeeData_saveBtn {
                button {
                    padding: 20px;
                    width: 100%;
                }
            }
        }
    }
}