@import '../../../app/styles/variables/mixins';
@import '../../../app/styles/variables/variables';

.catalog_mainBox {
    @include flexOnlyBetween;
    background-color: $themeShopColorGray;
    flex: 1 1 auto; /*чтобы прибить футер к низу*/
    padding: 20px 70px;
    color: black;
    gap: $defaultLargeMargin;

    .catalog_left {
        border: 1px solid black;
        width: 25%;
    }
    .catalog_right {
        @include flexColumn;
        border: 1px solid black;
        width: 75%;

        > div {
            width: 100%;
        }
        @include divLargeMarginBottom;

        .right_cloudCategory {

            .cloudCategory_title {
                font-weight: bold;
            }
            .cloudCategory_content {
                background-color: $themeColorDark;
                border-radius: $defaultBorderRadius;
                padding: $defaultLargeMargin;
                color: white;
            }
        }

        .right_filters {
            @include flexBetween;
            gap: $defaultLargeMargin;

            > div {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: $defaultLargeMargin;
            }

            .filter_buttons {
                .filter_item {
                    border: 2px solid $themeColorDark;
                    border-radius: $defaultLargeMargin;
                    padding: 5px 10px;

                    &:hover {
                        background-color: $themeColorDark;
                        color: white;
                        cursor: pointer;
                    }
                }

                .filter_itemActive {
                    border: 2px solid $themeColorDark;
                    border-radius: $defaultLargeMargin;
                    background-color: $themeColorDark;
                    padding: 5px 10px;
                    color: white;
                }

            }
            .filter_viewType {
                .viewType_item {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .right_content {
            //flex: 1 1 auto;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: $defaultLargeMargin;

            .content_item {
                @include flexColumn;
                border: 1px solid black;
                background-color: white;
                min-width: 300px;

                > div {
                    margin-bottom: $defaultLargeMargin;
                }

                .item_image {
                    min-height: 190px;

                    img {
                        width: auto;
                        height: 190px;
                    }
                }
                // заглушка, если нету фотографии
                .item_noImage {
                    @include flexColumn;

                    .item_noImage_title {
                        padding: 20px 0 10px 0;
                    }

                    img {
                        width: auto;
                        height: 120px;
                    }
                }

                .item_title {
                    font-weight: bold;
                }
                .item_buy {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: $defaultLargeMargin;
                    width: 100%;
                    padding: 0 $defaultLargeMargin;

                    .item_price {
                        color: red;
                        font-weight: bold;
                    }
                    .item_cart {
                        cursor: pointer;

                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
        .right_paginator {
            @include flexCenter;
            border: 1px solid black;
        }
    }
}
