@import '../../../app/styles/variables/mixins';
@import '../../../app/styles/variables/variables';

.shop_footer {
    background-color: $themeColorShopFooter;
    padding: 30px 200px;
    @include flexBetween();

    .footer_links {
        @include flexOnlyBetween();

        > div:not(:last-child) {
            padding-right: 50px;
        }

        .links_column {
            .column_title {
                font-weight: bold;
                margin-bottom: 20px;
            }

            .column_text {
                > div:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .footer_social {
        margin-left: 40px;

        img {
            width: 20px;
            height: 20px;
        }
    }
}