@import '../../../app/styles/variables/mixins';
@import '../../../app/styles/variables/variables';

.shop_productItem_mainBox {
    background-color: $themeColorSomeWhite;
    padding: $containerShopPadding;
    @include flexColumn;
    color: black;

    > div {
        //border: 1px solid black;
        width: 100%;
        margin-bottom: $defaultLargeMargin;
    }

    .cloudCategory {
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;

        .cloudCategory_item {
            color: white;
            background-color: $themeColorGray;
            border-radius: $smallBorderRadius;
            padding: $divButtonPadding;
        }
    }
    .product {
        @include flexOnlyBetween;
        gap: $defaultLargeMargin;
        width: 100%;

        .product_images {
            width: 50%;
            img {
                max-width: 600px;
                height: auto;
            }

        }
        .product_info {
            //border: 1px solid black;
            @include flexColumn;
            @include divLargeMarginBottom;
            width: 50%;

            .product_title {
                font-weight: bold;
                font-size: 20px;
            }
            .product_price {
                font-weight: bold;
                font-size: 24px;
                color: red;
            }
            .product_description {

            }
            .product_something {

            }
            .product_available {
                padding: $divButtonPadding;
                background-color: $themeColorMilk;
                border-radius: $smallBorderRadius;
            }
            .product_addToCart {
                button {
                    padding: 10px;
                    background-color: #BF3B38;
                    border-radius: $smallBorderRadius;
                    font-weight: bold;
                }
            }
        }
    }
    .description {
        .description_chapters {
            @include flexOnlyBetween;
            margin-bottom: $defaultLargeMargin;

            > div {
                border: 1px solid black;
                width: 100%;
                text-align: center;
                font-size: 24px;
                font-weight: bold;

                &:hover {
                    cursor: pointer;
                }
            }
        }
        .description_content {

        }
    }
}