@import '../../../app/styles/variables/mixins';
@import '../../../app/styles/variables/variables';

.shop_footer {
    background-color: $themeShopColorDark;
    padding: 30px 200px;
    @include flexBetween;

    .footer_links {
        @include flexOnlyBetween;
        gap: $defaultExtraLargeMargin;

        .links_column {
            .column_title {
                font-weight: bold;
                margin-bottom: $defaultLargeMargin;
            }

            .column_text {
                @include divSmallMarginBottom;
            }
        }
    }

    .footer_social {

        img {
            width: 20px;
            height: 20px;
        }
    }
}