@import './src/shared/styles/mixins';
@import './src/shared/styles/variables';

.clientCard_background {
    display: flex;
    flex-direction: column;
    background-color: $themeColorGray;
    border-radius: $defaultBorderRadius;
    padding: $defaultLargeMargin;

    h3 {
        text-align: center;
        margin-top: 0;
    }
    p {
        margin: 5px 0;
    }
}