@import './src/shared/styles/mixins';
@import './src/shared/styles/variables';

.serviceWrapper {
    @include defaultContainer();
    //border: 1px solid white;

    .serviceBlock {
        @include wrapperMainBlock();
        //border: 1px solid white;
        display: flex;

        .service_leftSide {
            //border: 1px solid white;
            width: 25%;
            @include flexColumn();

            .leftSide_buttons {
                margin-bottom: $defaultSmallMargin;

                .buttons_create {
                    @include flexCenter();
                    margin-bottom: $defaultLargeMargin;

                    button {
                        padding: 0;
                    }

                }
                .buttons_info {
                    @include flexBetween();

                    button {
                        padding: 0;
                        margin: $defaultSmallMargin;
                    }
                }

            }
            .leftSide_content {
                border-radius: $defaultBorderRadius;
                background-color: $themeColorDark;
                padding: $defaultLargeMargin;
                @include widthHeightFull();

                .content_title {
                    font-size: 26px;
                    font-weight: bold;
                    text-align: center;
                    margin-bottom: $defaultSmallMargin;
                }
                .content_info {
                    @include flexColumn();
                }
            }
        }

        .service_rightSide {
            //border: 1px solid white;
            width: 75%;
            @include flexColumn();
            margin-left: $defaultLargeMargin;
            border-radius: $defaultBorderRadius;
            background-color: $themeColorDark;
            padding: $defaultLargeMargin;

            .rightSide_stuffInput {
                @include flexCenter();
                margin-bottom: $defaultLargeMargin;
                width: 100%;

            }
            .rightSide_infoFields {
                margin-bottom: $defaultLargeMargin;
                @include flexBetween();
                width: 100%;

                .infoFields_content {
                    border: 1px solid white;
                    width: 60%;
                    margin-right: $defaultLargeMargin;

                    .content_detailsInput {
                        margin-bottom: $defaultLargeMargin;

                        input {
                            height: 100px;
                        }

                    }
                    .content_masterInput {
                        margin-bottom: $defaultLargeMargin;

                    }
                    .content_buttons {
                        @include flexBetween();

                        .content_saveBtn {
                            button {
                                width: 150px;
                                height: 50px;
                                //padding: 5px;
                                font-size: 20px;
                            }

                        }
                        .content_cancelBtn {
                            button {
                                width: 150px;
                                height: 50px;
                                //padding: 5px;
                                font-size: 20px;
                            }

                        }
                        .content_sumField {
                            @include defaultFiledStyle();
                        }
                    }

                }
                .infoFields_clientCard {
                    border: 1px solid white;
                    width: 40%;
                    height: 100%;
                }

            }
            .rightSide_tables {
                border: 1px solid white;
                @include flexBetween();
                width: 100%;
                height: 100%;

                .tables_left {
                    @include widthHeightFull();
                    border: 1px solid white;
                    margin-right: $defaultLargeMargin;

                    .tables_left_buttons {
                        @include flexBetween();
                        margin-bottom: $defaultSmallMargin;

                        .buttons_editBtn {

                        }
                        .buttons_discountField {
                            @include flexColumn();

                            .discountField_title {

                            }
                            .discountField_value {
                                @include defaultFiledStyle();
                                height: 30px;
                            }
                        }
                        .buttons_resultField {
                            @include defaultFiledStyle();
                            width: 20%;
                            height: 55px;
                        }
                    }

                    .tables_left_table {
                        background-color: $themeColorGray;
                        border-radius: $defaultBorderRadius;
                        padding: $defaultLargeMargin;
                        @include flexColumn();
                        height: 85%; // надо исправить
                    }
                }
                .tables_right {
                    @include widthHeightFull();
                    border: 1px solid white;
                    margin-left: 5px;

                    .right_buttons {
                        @include flexBetween();
                        margin-bottom: $defaultSmallMargin;

                        .buttons_editBtn {

                        }
                        .buttons_noDiscountField {
                            @include defaultFiledStyle();
                            height: 55px;
                        }
                        .buttons_discountField {
                            @include flexColumn();

                            .discountField_title {

                            }
                            .discountField_value {
                                @include defaultFiledStyle();
                                height: 30px;
                            }
                        }
                        .buttons_resultField {
                            @include defaultFiledStyle();
                            height: 55px;
                        }
                    }

                    .tables_right_table {
                        background-color: $themeColorGray;
                        border-radius: $defaultBorderRadius;
                        padding: $defaultLargeMargin;
                        @include flexColumn();
                        height: 85%; // надо исправить

                    }
                }
            }
        }

    }

}