@import '../../../../app/styles/variables/mixins';
@import '../../../../app/styles/variables/variables';

.appBar {
    height: var(--navbar-height);
    background-color: var(--header-color);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    @include flexCenter;

    .content {
        width: 91%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "leftSide center rightSide";

        .leftSide {
            display: flex;
            align-items: center;
            gap: 20px;

            .leftSide_burgerMenu {
                position: relative;

                .burgerMenu_iconButton {

                }
                .burgerMenu_menuList {
                    position: absolute;
                    background-color: $themeColorDark;
                    border-radius: $defaultSmallMargin;
                    border: 1px solid white;
                    padding: $defaultLargeMargin;
                    min-width: 230px;
                    z-index: 1;

                    .menuList_item {
                        &:hover {
                            cursor: pointer;
                            background-color: $themeColorGray;
                        }
                    }
                }
            }

            .leftSide_shopTitle {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .center {
            @include flexCenter;
        }

        .rightSide {
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: flex-end;
        }
    }
}


