.wrapper {

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td {
    //overflow: hidden;
    //text-overflow: ellipsis;
    //white-space: nowrap;
    border: 1px solid #ddd;
    padding: 8px;
  }

  .header {

    .header_cell {
      border-style: solid;
    }
  }

  .body {
    .row {
      border-style: solid;


      .cell {
        border-style: solid;

      }
    }
  }
}

