@import '../../../app/styles/variables/mixins';
@import '../../../app/styles/variables/variables';

.editProductCardModal_rightSide {
    @include flexColumn;
    gap: $defaultLargeMargin;
    width: 30%;

    .rightSide_productOptions {
        @include selectOptionsBlock;
    }

    .rightSide_productDetails {
        @include selectOptionsBlock;
    }

    .mainButtons {
        @include flexOnlyBetween;
        gap: $defaultLargeMargin;
        width: 100%;
        z-index: 0; // чтобы кнопка была под селектом

        button {
            width: 175px;
        }
    }
}