@import '../../../app/styles/variables/mixins';
@import '../../../app/styles/variables/variables';

.fullEditor {
    @include defaultBlockStyles($themeColorMilk);

    .descriptionEditor_title {
        font-weight: bold;
        font-size: 18px;
        color: black;
        text-align: center;
        margin-bottom: $defaultSmallMargin;
    }

    .descriptionEditor_editorTextarea {
        .editorClassName {
            min-height: 170px;
            max-height: 285px;
            overflow-y: auto;
            color: black;
        }

        .editor_toolbar {
            background-color: $themeColorMilk;
            border: 1px solid $themeColorDark;
            color: black;

            .rdw-image-wrapper {
                .rdw-image-modal {
                    background-color: $themeColorMilk;
                }
            }
        }
    }
}