@import '../../../app/styles/variables/mixins';
@import '../../../app/styles/variables/variables';

.editProductCardModal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: $defaultLargeMargin;
    transform: translate(-50%, -50%);
    background-color: $themeColorDark;
    border-radius: $largeBorderRadius;
    border: 1px solid white;
    color: white;
    min-width: 1400px;

    // контейнер для скролла
    .editProductCardModal_container {
        overflow-y: scroll;
        height: 85vh;
        padding-right: 5px;

        .editProductCardModal_mainBlock {
            display: grid;
            gap: 20px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 50px auto auto;
            grid-template-areas:
                    'info status buttons'
                    'optionBind optionBind optionBind'
                    'gallery fullEditor specs';

            .productInfo {
                grid-area: info;
                display: flex;
                align-items: center;
            }
            .productStatus {
                grid-area: status;
            }
            .mainButtons {
                grid-area: buttons;
            }

            .optionBind_wrapper {
                grid-area: optionBind;
            }

            .imageGallery {
                grid-area: gallery;
            }
            .fullEditor {
                grid-area: fullEditor;
            }
            .specs_wrapper {
                grid-area: specs;
            }
        }
    }
}