@import '../../../app/styles/variables/mixins';
@import '../../../app/styles/variables/variables';

.editProductCardModal_mainBlock {
    @include defaultModalStyle;
    @include flexOnlyBetween;
    gap: $defaultLargeMargin;
    min-width: 1300px;
    height: 90vh;

    .editProductCardModal_leftSide {
        @include flexColumn;
        gap: $defaultLargeMargin;
        width: 60%;
        color: black;

        // тестировочный стиль
        //.leftSide_imageGallery {
        //    @include defaultBlockStyles($themeColorMilk);
        //    height: 50%;
        //}

        // вариант со слайдером
        //.leftSide_imageGallery {
        //    @include defaultBlockStyles($themeColorMilk);
        //    @include flexColumn;
        //    justify-content: center;
        //    height: 50%;
        //
        //    .imageGallery_sortButtons {
        //        margin-top: $defaultExtraLargeMargin;
        //        @include flexOnlyBetween;
        //        gap: $defaultLargeMargin;
        //    }
        //}

        // итоговый вариант
        .leftSide_imageGallery {
            @include defaultBlockStyles($themeColorMilk);
            @include flexColumn;
            justify-content: center;
            height: 70%;
            width: 400px;

            .imageGallery_imageList {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 10px;
                height: 100%;
                overflow-y: auto;

                .imageList_item {
                    position: relative;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.5;
                    }

                    img {
                        width: 140px;
                    }

                    .active_image {
                        opacity: 0.5;
                        border: 1px solid white;
                    }

                    .imageList_imageCount {
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin: 5px;
                        padding: 2px 5px;
                        background-color: white;
                    }

                    .imageList_deleteItem {
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin: 5px;
                        width: 20px;
                        height: 20px;

                        &:hover {
                            cursor: pointer;
                            filter: contrast(3);
                        }
                    }
                }
            }

            .imageGallery_buttons {
                .imageGallery_sortButtons {
                    margin-top: $defaultLargeMargin;
                    @include flexOnlyBetween;
                    gap: $defaultLargeMargin;
                }

                .imageGallery_addImage {
                    margin-top: $defaultLargeMargin;
                    @include inputTypeFile($themeColorGray);
                }
            }

        }

        .rightSide_tagEditor {
            @include defaultBlockStyles($themeColorMilk);
            height: 25%;
            color: black;

            .tagEditor_header {
                @include flexBetween;
                margin-bottom: $defaultSmallMargin;

                .header_title {
                    font-weight: bold;
                    font-size: 18px;
                }
                .header_addButton {
                    button {
                        font-size: 12px;
                    }
                }
            }

            .tagEditor_tags {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                //height: 100px;
                height: 80%;
                overflow-y: auto;

                .tagList_noTags {
                    margin: 0 auto;
                }

                .tagList_item {
                    background-color: $themeColorDark;
                    padding: $defaultSmallMargin;
                    border-radius: $smallBorderRadius;
                    border: 1px solid white;
                    display: flex;
                    align-items: center;
                    height: 40px;

                    .tagList_itemTitle {
                        color: white;
                        font-size: 14px;
                        margin-right: 10px;
                    }

                    .tagList_deleteItem {
                        width: 20px;
                        height: 20px;

                        &:hover {
                            cursor: pointer;
                            filter: contrast(3);
                        }
                    }
                }
            }
        }

        // поле с обводкой
        //.rightSide_productStatus {
        //    @include flexCenter;
        //    width: 100%;
        //    height: 5%;
        //    padding: 10px;
        //    border: 2px solid $themeColorMilk;
        //    border-radius: $smallBorderRadius;
        //    color: white;
        //}

        // поле с селектом
        .rightSide_productStatus {
            @include flexBetween;
            width: 100%;
            border: 2px solid $themeColorMilk;
            border-radius: $smallBorderRadius;
            padding: $defaultSmallMargin;

            .productStatus_title {
                width: 35%;
                color: white;
            }
            .productStatus_select {
                width: 65%;
                color: black;
            }
        }
    }

    .leftSide_descriptionEditor {
        @include defaultBlockStyles($themeColorMilk);
        @include flexColumnOnly;
        height: 100%;

        .briefEditor {
            margin-bottom: $defaultSmallMargin;

            .briefEditor_title {
                font-weight: bold;
                font-size: 18px;
                color: black;
                margin-bottom: $defaultSmallMargin;
            }
            .briefEditor_textarea {
                height: 100px;

                .briefEditor_textarea_wrapper {
                    height: 100%;

                    textarea {
                        resize: none;
                        width: 100%;
                        height: 100%;
                        padding: $defaultSmallMargin;
                        border: 1px solid $themeColorDark;
                        //border-radius: $smallBorderRadius;
                        background-color: transparent;
                        font-size: 16px;

                        //:focus-visible {
                        //    border: 2px solid $themeColorDark;
                        //}
                    }
                }
            }
        }

        .fullEditor {
            .descriptionEditor_title {
                font-weight: bold;
                font-size: 18px;
                color: black;
                margin-bottom: $defaultSmallMargin;
            }
            .descriptionEditor_editorTextarea {
                .editorClassName {
                    max-height: 310px;
                    overflow-y: auto;
                    color: black;
                }
                .editor_toolbar {
                    background-color: $themeColorMilk;
                    border: 1px solid $themeColorDark;
                }
            }
        }
    }

    .editProductCardModal_rightSide {
        @include flexColumn;
        gap: $defaultLargeMargin;
        width: 40%;

        .rightSide_productOptions {
            @include selectOptionsBlock;
        }

        .rightSide_productDetails {
            @include selectOptionsBlock;
        }

        .rightSide_mainButtons {
            @include flexOnlyBetween;
            gap: $defaultLargeMargin;
            width: 100%;
            z-index: 0; // чтобы кнопка была под селектом

            button {
                width: 200px;
            }
        }
    }
}