@import "reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";

.App {
    //font: var(--font-m);
    //background: var(--bg-color);
    //color: var(--primary-color);

    //border: 1px solid white;
    max-width: 1400px;
    margin: 0 auto;
    //min-height: 100vh;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
