@import '../../app/styles/variables/mixins';
@import '../../app/styles/variables/variables';

.shopStorageModal_mainBlock {
    @include defaultModalStyle;
    @include flexOnlyBetween;
    gap: $defaultLargeMargin;
    min-width: 1000px;

    .shopStorageModal_tree {
        background-color: $themeColorMilk;
        padding: $defaultLargeMargin;
        border-radius: $smallBorderRadius;
        width: 20%;
        color: black;
    }

    .shopStorageModal_shops {
        background-color: $themeColorMilk;
        padding: $defaultLargeMargin;
        border-radius: $smallBorderRadius;
        width: 50%;

        .shopStorageModal_shopList {
            @include divSmallMarginBottom;
            padding-right: $defaultSmallMargin;
            overflow-y: auto;
            max-height: 550px;

            .shop_item {
                @include divSmallMarginBottom;
                border-radius: $smallBorderRadius;
                border: 1px solid white;
                padding: 10px;
                color: black;

                &:hover {
                    cursor: pointer;
                    background-color: $themeColorDark;
                    color: white;
                }

                > div {
                    span {
                        font-weight: bold;
                    }
                }
            }
            .shop_item_active {
                @include divSmallMarginBottom;
                border-radius: $smallBorderRadius;
                background-color: $themeColorDark;
                border: 1px solid white;
                padding: 10px;
                color: white;

                > div {
                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .shopStorageModal_createBlock {
        width: 50%;

        form {
            @include divLargeMarginBottom;

            .shopStorageModal_inputFields {
                background-color: $themeColorGray;
                padding: $defaultLargeMargin;
                border-radius: $smallBorderRadius;
                @include divSmallMarginBottom;

                .infoBlock_input {
                    //
                }
                .infoBlock_checkbox {
                    @include flexCenter;
                    height: 50px;
                    border: 2px solid $themeColorMilk;
                    border-radius: $smallBorderRadius;
                }
                .infoBlock_cancelBtn {
                    display: flex;
                    gap: $defaultLargeMargin;

                    button {
                        @include defaultMediumButton;
                    }
                }
            }

            .footer_buttons {
                @include flexOnlyBetween;
                gap: $defaultLargeMargin;

                > div {
                    width: 100%;
                }
                button {
                    //padding: 10px 0;
                    padding: 20px;
                    width: 100%;
                }
            }
        }
    }
}