@import '../../app/styles/variables/mixins';
@import '../../app/styles/variables/variables';

.shopStoreModal_mainBlock {
    @include defaultModalStyle;
    @include flexOnlyBetween;
    gap: $defaultLargeMargin;
    min-width: 800px;

    .shopStoreModal_shops {
        background-color: $themeColorMilk;
        padding: $defaultLargeMargin;
        border-radius: $smallBorderRadius;
        width: 50%;
        @include divSmallMarginBottom;

        .shop_item {
            border: 1px solid white;
            padding: 10px;
            color: black;
        }
    }

    .shopStoreModal_createBlock {
        width: 50%;

        form {
            @include divLargeMarginBottom;

            .shopStoreModal_inputFields {
                background-color: $themeColorGray;
                padding: $defaultLargeMargin;
                border-radius: $smallBorderRadius;

                @include divSmallMarginBottom;

                .infoBlock_checkbox {
                    @include flexColumn;
                    width: 100%;
                    padding: $defaultSmallMargin;
                    border: 2px solid $themeColorMilk;
                    border-radius: $smallBorderRadius;
                }

                .infoBlock_updateBtn {
                    display: flex;
                    gap: $defaultLargeMargin;

                    button {
                        @include defaultMediumButton;
                    }
                }
            }

            .footer_buttons {
                @include flexOnlyBetween;
                gap: $defaultLargeMargin;

                > div {
                    width: 100%;
                }
                button {
                    padding: 10px 0;
                    width: 100%;
                }

                //.shopStoreModal_createBtn {
                //}
                .shopStoreModal_exitBtn {
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
}