@import '../../app/styles/variables/mixins';
@import '../../app/styles/variables/variables';

.payModal_mainBox {
    @include defaultModalStyle;
    @include divLargeMarginBottom;

    .payModal_header {
        @include flexColumn;

        .header_text {

        }
        .header_sum {
            @include largeFontSize;
        }
    }

    .payModal_clientCard {
    }

    .payModal_payType {
        :first-child {
            margin-bottom: $defaultSmallMargin;
        }

        button {
            width: 100%;
        }
    }

    .payModal_cashValue {
        @include defaultFiledStyle;
        min-width: 100%;
    }

    .payModal_cashbackBlock {
        @include flexColumn;

        .cashbackBlock_text {

        }
        .cashbackBlock_value {
            @include largeFontSize;
        }
        .cashbackBlock_buttons {
            width: 100%;

            :first-child {
                margin-bottom: $defaultSmallMargin;
            }

            button {
                width: 100%;
            }
        }
    }
}
