@import './src/shared/styles/mixins';
@import './src/shared/styles/variables';

.clientModal_mainBox {
    @include defaultModalStyle();

    .clientModal_searchBlock {
        @include flexColumn();
        margin-bottom: 50px;

        .clientModal_searchBlock_title {
            @include titleCenter;
        }

        .clientModal_searchBlock_input {
            margin-bottom: $defaultSmallMargin;
            width: 100%;
        }

        .clientModal_searchBlock_textField {
            width: 100%;
        }
    }

    .clientModal_textFields > div {
        @include flexColumn();
        margin-bottom: $defaultLargeMargin;
        width: 100%;

        .textFields_title {
            @include titleCenter;
        }
    }

    .clientModal_buttonsBlock {
        @include flexOnlyBetween();

        button {
            width: 200px;
            padding: $smallButtonPadding;
        }
    }

}