@import '../../../app/styles/variables/mixins';
@import '../../../app/styles/variables/variables';

.wrapper {
  @include cardCatalogStl;
  height: 1vw;
  width: 100%;
  display: flex;
  justify-content: start;

  .trees {
    display: flex;
    gap: 15px;

    .filters {
      background-color: $themeColorDark;
      border-radius: 25px;
    }

    .categories {
      background-color: $themeColorDark;
      border-radius: 25px;
    }
  }

  .table {
    max-width: 70%;
    height: 100%;
    background-color: $themeColorDark;
    padding: 15px;
    border-radius: 30px;


    .table_header {
      color: black;
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      .table_header_search {
        width: 70%;
      }

      .table_header_storage {
        width: 25%;
      }
    }

    .table_data {
      height: 93%;
      border-radius: 25px;

      overflow: hidden;
    }
  }
}