.wrapper {
    background: white;
    width: 250px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

    .name {
        color: black;
        text-align: center;
        font-size: 14px;
        padding: 0 5px;
        max-height: 30px;

        //max-width: 290px;
        //height: 40px;
        //white-space: nowrap;
        //overflow: hidden;
        //text-overflow: ellipsis;
    }

    .price {
        color: black;
        text-align: center;
        font-weight: bold;
        font-size: x-large;
    }

    .barcode {

    }
}