.wrapper {
  background: white;
  width: 300px;

  .name {
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: large;
  }

  .price {
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
  }

  .barcode {

  }
}