@import '../../../app/styles/variables/mixins';
@import '../../../app/styles/variables/variables';

.tableItem_box {
    @include flexBetween;
    width: 75%; // ?
    border: 2px solid darkorange;
    border-radius: $smallBorderRadius;
    padding: 3px $defaultSmallMargin;
    margin-top: -5px;

    .tableItem_title {
        word-break: break-word;
        margin-right: $defaultSmallMargin;
    }

    .tableItem_numbers {
        @include flexCenter;

        .tableItem_price {
            color: black;
            background-color: $themeColorWhite;
            border-radius: $smallBorderRadius;
            padding: $defaultSmallMargin;
            margin-right: $defaultSmallMargin;
            min-width: 80px;
            @include flexCenter;
        }
    }
}
