@import '../../../app/styles/variables/mixins';
@import '../../../app/styles/variables/variables';

.selectProduct_mainBox {
    padding: $defaultLargeMargin;
    background-color: $themeColorGray;
    border-radius: $largeBorderRadius;
    display: flex;
    gap: $defaultLargeMargin;

    .selectProduct_mainBox_leftSide {
        border: 1px solid white;
        @include flexColumn;
        width: 30%;
        min-height: 700px;

        > div {
            width: 100%;
        }

        .leftSide_header {
            background-color: $themeColorDark;
            border-radius: $largeBorderRadius;
            margin-bottom: $defaultSmallMargin;
            padding: $defaultSmallMargin;
            height: 150px;
        }
        .leftSide_treeView {
            background-color: $themeColorDark;
            border-radius: $largeBorderRadius;
            margin-bottom: $defaultSmallMargin;
            padding: $defaultLargeMargin;
            flex: 1 1 auto;
        }
        .leftSide_buttons {
            width: 100%;

            @include divSmallMarginBottom;

            button {
                width: 100%;
            }
        }
    }

    .selectProduct_mainBox_rightSide {
        border: 1px solid white;
        @include flexColumn;
        justify-content: space-between;
        width: 70%;

        > div {
            width: 100%;
        }
        .rightSide_availableProducts {
            display: flex;
            justify-content: center;
            background-color: $themeColorDark;
            border-radius: $largeBorderRadius;
            height: 300px;
        }
        .rightSide_infoRow {
            border: 1px solid white;
            @include flexBetween;
            height: 70px;

            .infoRow_searchField {
                width: 60%;
                padding-right: $defaultLargeMargin;
            }
            .infoRow_result {
                @include flexOnlyBetween;
                width: 40%;

                > div {
                    @include defaultFiledStyle;
                }
            }
        }
        .rightSide_chosenProducts {
            @include flexCenter;
            background-color: $themeColorDark;
            border-radius: $largeBorderRadius;
            height: 300px;
        }
    }
}