@import '../../../app/styles/variables/mixins';
@import '../../../app/styles/variables/variables';

.productCatalogTableWrapper {
    @include defaultContainer();

    .productCatalogTable_mainBlock {
        @include wrapperMainBlock();
        @include flexOnlyBetween();

        .productCatalogTable_leftSide {
            width: 30%;
            margin: $defaultSmallMargin;
            @include flexColumn();

            .leftSide_header {
                background-color: $themeColorDark;
                border-radius: $defaultBorderRadius;
                margin-bottom: $defaultLargeMargin;
                padding: $defaultLargeMargin;
                width: 100%;
                height: 20%;
            }
            .leftSide_tree {
                background-color: $themeColorDark;
                border-radius: $defaultBorderRadius;
                width: 100%;
                height: 80%;
            }
        }

        .productCatalogTable_rightSide {
            border: 1px solid white;
            width: 70%;
            margin: $defaultSmallMargin;
            @include flexColumn();


            .rightSide_searchRow {
                border: 1px solid white;
                @include flexOnlyBetween();
                margin-bottom: $defaultLargeMargin;
                width: 100%;

                button {
                    width: 100%;
                    padding: $bigButtonPadding;
                }

                .searchRow_chooseBtn {

                }
                .searchRow_searchInput {
                    //width: 100%;
                    //padding: 0 20px;
                }
                .searchRow_allProductsBtn {

                }
                .header_notSortedBtn {

                }
            }
            .rightSide_table {
                border: 1px solid white;
            }
        }
    }
}
