@import '../../../../app/styles/variables/mixins';
@import '../../../../app/styles/variables/variables';

.shop_footer {
  background-color: $themeShopColorDark;

  .container {
    @include defaultContainerForShop; // ограничивающий контейнер

    .footer_body {
      display: flex;
      flex-wrap: wrap;
      //margin: 0 -15px -15px -30px; //*

      .links_column {
        flex: 0 1 25%;
        justify-content: center;
        //margin: 0 0 30px 0; //*
        //padding: 0 15px; //*
        padding: 20px;

        @media(max-width: 768px) {
          flex: 0 1 50%;
        }
        @media(max-width: 463px) {
          flex: 0 1 100%;
        }

        .links_item {
          text-align: center;
          //padding: 15px 0 0; // отступ внутри для фулл

          .item_title {
            font-weight: bold;
            margin-bottom: $defaultLargeMargin;
          }

          .item_text {
            @include divSmallMarginBottom;
          }

          .visa {
            max-width: 30%;
            height: auto;
          }

          .mastercard {
            max-width: 30%;
            height: auto;
          }
        }
      }
    }
  }
}