@import '../../../../app/styles/variables/mixins';
@import '../../../../app/styles/variables/variables';


.shop_headerMain {
    background-color: $themeColorDark;

    .container {
        @include defaultContainerForShop; // ограничивающий контейнер

        .shop_header {
            height: var(--navbar-shop-height);
            @include flexBetween;

            .shop_header_left {
                @include hoverCursorPointer;

                img {
                    width: 50px;
                    height: auto;

                    border: 2px solid white;
                    border-radius: 50%;
                    padding: 2px;
                }
            }

            .shop_header_right {
                @include flexBetween;
                gap: $defaultExtraLargeMargin;

                > div:not(:first-child) {
                    img {
                        filter: invert(100%);
                        @include hoverCursorPointer;
                    }
                }
            }

            @media(max-width: 993px) {
                display: none;
            }
        }

        .burgerMenu {
            display: none;

            @media(max-width: 993px) {
                height: var(--navbar-shop-height);
                display: flex;
                align-items: center;

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}



