@import '../../../../app/styles/variables/mixins';
@import '../../../../app/styles/variables/variables';

.shop_wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

        .header {
            position: relative;

            .header_slider {
                width: 1400px;
                overflow: hidden;

                img {
                    width: 1400px;
                    height: 800px;
                    object-fit: cover;
                }
            }
            .header_icons {
                position: absolute;
                top: 50px;
                width: 100%;
                height: 30px;
                padding: $containerShopPadding;
                color: black;
                @include flexOnlyBetween;

                > div {
                    @include flexBetween;
                    gap: $defaultExtraLargeMargin;
                }

                img {
                    @include hoverCursorPointer;
                    //filter: invert(100%);
                }

                .header_icons_left {
                    img {
                        width: 50px;
                        height: auto;

                        border: 2px solid white;
                        border-radius: 50%;
                        padding: 2px;
                    }
                }
                .header_icons_right {

                }
            }
        }

        .content {
            background-color: green;
            flex: 1 1 auto; // прибиваем футер вниз

            .menu {
                background-color: $themeShopColorGray;
                height: 80px;

                @media(max-width: 650px) {
                    height: 50px;
                }
                @media(max-width: 463px) {
                    height: 50px;
                }

                .container {
                    @include defaultContainer; // ограничивающий контейнер

                    .menu_items {
                        @include flexBetween;
                        gap: 10px;
                        height: 80px;
                        font-size: 32px;
                        font-weight: bold;
                        color: black;

                        @media(max-width: 1400px) {
                            padding: 0 50px;
                        }
                        @media(max-width: 943px) {
                            font-size: 26px;
                        }
                        @media(max-width: 820px) {
                            font-size: 22px;
                            padding: 0 20px;
                        }
                        @media(max-width: 650px) {
                            height: 50px;
                            font-size: 18px;
                        }
                        @media(max-width: 540px) {
                            height: 50px;
                            font-size: 14px;
                        }
                        @media(max-width: 463px) {
                            height: 50px;
                            font-size: 12px;
                        }

                        > div {
                            @include hoverCursorPointer;
                            &:hover {
                                color: darkgoldenrod;
                            }
                        }
                    }
                }
            }

            .catalog {
                //padding: 70px 70px 200px 70px;
                //display: grid;

                .container {
                    @include defaultContainer; // ограничивающий контейнер

                    .catalog_items {
                        display: grid;
                        gap: 20px;
                        grid-template-columns: repeat(2, minmax(350px, 1fr));
                        grid-template-rows: repeat(3, minmax(350px, 1fr));
                        grid-template-areas:
                            'block1 block2'
                            'block3 block4';

                        .catalog_item {
                            grid-area: block1;
                        }
                        .catalog_items_big {
                            grid-area: block2;
                        }
                        .catalog_items_long1 {
                            grid-area: block3;
                        }
                        .catalog_items_long2 {
                            grid-area: block4;
                        }
                    }

                    // незаконченный вариант-2
                    //.catalog_items {
                    //    display: grid;
                    //    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
                    //    gap: 10px;
                    //
                    //    .catalog_item {
                    //        position: relative;
                    //        padding: 0 0 85% 0;
                    //
                    //        img {
                    //            position: absolute;
                    //            top: 0;
                    //            left: 0;
                    //            width: 100%;
                    //            height: 100%;
                    //            object-fit: cover;
                    //        }
                    //    }
                    //    .catalog_item_big {
                    //        grid-column: span 2;
                    //        grid-row: span 1;
                    //    }
                    //    .catalog_item_long {
                    //        grid-column: span 2;
                    //        grid-row: span 1;
                    //    }
                    //}

                    // незаконченный вариант-1 (из видео)
                    //.catalog_items {
                    //    display: grid;
                    //    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
                    //    //gap: 10px;
                    //
                    //    .catalog_item {
                    //        position: relative;
                    //        padding: 0 0 85% 0;
                    //
                    //        img {
                    //            position: absolute;
                    //            top: 0;
                    //            left: 0;
                    //            width: 100%;
                    //            height: 100%;
                    //            object-fit: cover;
                    //        }
                    //    }
                    //    .catalog_item_big {
                    //        grid-column: span 2;
                    //        grid-row: span 2;
                    //    }
                    //
                    //}

                    // первый вариант (не адаптив)
                    //.catalog_group1 {
                    //    display: grid;
                    //    grid-template-columns: 1fr 1fr 1fr;
                    //    grid-template-rows: 1fr 1fr;
                    //    gap: $defaultLargeMargin;
                    //    margin-bottom: $defaultLargeMargin;
                    //    @include hoverCursorPointerOpacity;
                    //
                    //    //> div {
                    //    //    position: relative;
                    //    //
                    //    //    img {
                    //    //        position: absolute;
                    //    //        top: 0;
                    //    //        left: 0;
                    //    //        width: 100%;
                    //    //        height: 100%;
                    //    //        object-fit: cover;
                    //    //    }
                    //    //}
                    //
                    //    .catalog_item1 {
                    //        grid-row: span 2;
                    //    }
                    //
                    //    .catalog_item2 {
                    //    }
                    //
                    //    .catalog_item3 {
                    //    }
                    //
                    //    .catalog_item4 {
                    //    }
                    //
                    //    .catalog_item5 {
                    //    }
                    //}
                    //
                    //.catalog_group2 {
                    //    display: grid;
                    //    grid-template-columns: 1fr 1fr;
                    //    gap: $defaultLargeMargin;
                    //    @include hoverCursorPointerOpacity;
                    //
                    //    .catalog_item {
                    //
                    //    }
                    //}
                }
            }
        }

        .map {
            position: relative;
            img {
                width: 100%;
            }
        }
}