@import '../../../../app/styles/variables/mixins';
@import '../../../../app/styles/variables/variables';

.shop_wrapper {
    @include defaultContainer;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*чтобы прибить футер к низу*/

    // можно задать свойство здесь или в каждом children
    .shop_main {
        flex: 1 1 auto; /*чтобы прибить футер к низу*/
        color: black;
        background-color: $themeColorSomeWhite;
        padding: $containerShopPadding;
    }
}