@import '../../../../app/styles/variables/mixins';
@import '../../../../app/styles/variables/variables';

.shop_header {
    height: var(--navbar-height);
    background-color: $themeColorDark;
    @include flexBetween;
    padding: $containerShopPadding;

    img {
        filter: invert(100%);
        @include hoverCursorPointer;
    }

    .shop_header_left {
        @include hoverCursorPointer;
    }
    .shop_header_right {
        @include flexBetween;
        gap: $defaultExtraLargeMargin;

        .right_loginBlock {
            @include flexOnlyBetween;
            align-items: center;
            min-width: 250px;
            > div {
                @include hoverCursorPointer;
            }

            .loginBlock_profileIcon {
                margin-right: $defaultSmallMargin;
            }
            .loginBlock_enter {
                margin-right: $defaultExtraLargeMargin;
            }
            .loginBlock_registration {

            }
        }
        .right_userInfo {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: $defaultSmallMargin;
            min-width: 250px;
        }
    }
}