@import '../../../../app/styles/variables/mixins';
@import '../../../../app/styles/variables/variables';

.workshop_mainBox {
    background-color: $themeColorDark;
    //background: rgba(0, 0, 0, 0.5);

    .container {
        @include defaultContainerForShop; // ограничивающий контейнер

        .workshopData {
            //border: 1px solid black;
            display: flex;
            padding: 20px 0;

            @media(max-width: 740px) {
                flex-wrap: wrap;
            }

            .workshop_description {
                width: 350px;
                padding: 20px;
                @include divLargeMarginBottom;
                @include flexColumnOnly;

                @media(max-width: 740px) {
                    width: 100%;
                }

                .description_title {
                    color: #F04D4D;
                    font-weight: bold;
                    font-size: 20px;
                    height: 40px;

                    @media(max-width: 740px) {
                        width: 100%;
                        text-align: center;
                    }
                }
                .description_contentBox {
                    width: 220px;
                    height: 150px;

                    @media(max-width: 740px) {
                        width: 100%;
                    }

                    // обрезка строки
                    .description_content {
                        color: white;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 8; // количество строк
                        -webkit-box-orient: vertical;
                        line-height: 1.2;
                        height: 100%;
                    }
                }
                .description_details {
                    align-self: flex-end;
                    text-align: center;
                    width: 130px;
                    border: 2px solid #F04D4D;
                    padding: 10px;
                    border-radius: 20px;
                    color: white;
                    margin-bottom: 40px !important;

                    &:hover {
                        cursor: pointer;
                        background-color: #F04D4D;
                        color: white;
                    }
                }
                .data_length {
                    align-self: center;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    > div {
                        img {
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }

                    .endLength {
                        opacity: 0.3;

                        img {
                            &:hover {
                                cursor: default;
                            }
                        }
                    }

                    .bullet_item {
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        border: 2px solid #F04D4D;

                        &:hover {
                            cursor: pointer;
                            background-color: #F04D4D;
                        }
                    }
                    .bullet_item_active {
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        border: 2px solid #F04D4D;

                        background-color: #F04D4D;
                    }
                }
            }
            .workshop_photos {
                display: flex;
                align-items: center;
                gap: 20px;
                overflow: hidden;
                position: relative; // slider

                .workshop_photo {
                    opacity: 0.5;

                    // slider
                    position: relative;
                    top: 0;
                    left: 390px;

                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                    }

                    .photo {
                        margin-bottom: 10px;

                        img {
                            width: 310px;
                            height: 310px;
                        }
                    }
                    .title {
                        text-align: center;
                        color: #F04D4D;
                        font-weight: bold;
                    }
                }
                .workshop_photo_active {
                    // slider
                    position: absolute;
                    top: 0;
                    left: 0;

                    .photo {
                        img {
                            width: 370px;
                            height: 370px;
                        }
                    }
                    .title {

                    }
                }
            }
        }
    }
}