@import '../../../../app/styles/variables/mixins';
@import '../../../../app/styles/variables/variables';

.loginBlock_mainBox {

    .userInfo {
        display: flex;
        align-items: center;
        //justify-content: flex-end;
        gap: $defaultSmallMargin;
        //min-width: 250px;
        @include hoverCursorPointer;

        @media(max-width: 590px) {
            display: none;
        }
    }
    .profileIcon {
        display: none;

        @media(max-width: 590px) {
            display: flex;
        }
    }

    .loginBlock {
        @include flexOnlyBetween;
        align-items: center;
        //min-width: 250px;

        > div {
            @include hoverCursorPointer;
        }

        .loginBlock_profileIcon {
            margin-right: $defaultSmallMargin;
        }
        .loginBlock_enter {
            margin-right: $defaultExtraLargeMargin;

            &:hover {
                color: orange;
            }
        }
        .loginBlock_registration {
            &:hover {
                color: orange;
            }
        }
    }
}