@import 'variables';

// default mixins

@mixin defaultContainer() {
    //border: 1px solid white;
    max-width: 1400px;
    margin: 0 auto;
}

@mixin wrapperMainBlock() {
    min-height: calc(100vh - var(--navbar-height));
    padding: $defaultLargeMargin;
}

// common mixins

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexOnlyBetween() {
    display: flex;
    justify-content: space-between;
}

@mixin flexBetween() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexColumn() {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// mixins for UI

@mixin defaultFiledStyle() {
    max-width: 250px;
    border: 2px solid #C0C0C0;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin widthHeightFull() {
    width: 100%;
    height: 100%;
}

@mixin defaultModalStyle() {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    padding: $defaultLargeMargin;
    transform: translate(-50%, -50%);
    background-color: $themeColorDark;
    border-radius: $defaultBorderRadius;
    //box-shadow: 24;
}

@mixin largeFontSize() {
    font-size: 40px;
    font-weight: bold;
}

@mixin titleCenter() {
    text-align: center;
    margin-bottom: $defaultSmallMargin;
}
