$themeColorWhite: white;
$themeColorGray: #5C636A;
$themeColorDark: #33373B;
$themeColorBlack: black;

$containerWidth: 1400px;

$smallBorderRadius: 10px;
$defaultBorderRadius: 20px;
$defaultSmallMargin: 10px;
$defaultLargeMargin: 20px;

$smallButtonPadding: 10px 20px;
$bigButtonPadding: 16px 20px;

