$themeColorWhite: white;
$themeColorMilk: #C0C0C0;
$themeColorGray: #5C636A;
$themeColorDark: #33373B;
$themeColorBlack: black;

$themeShopColorGray: #D9D9D9;
$themeShopColorDark: #2C2D2E;

$containerShopPadding: 0 70px;

$containerWidth: 1400px;

$smallBorderRadius: 10px;
$defaultBorderRadius: 20px;

$defaultSmallMargin: 10px;
$defaultLargeMargin: 20px;

$smallButtonPadding: 10px 20px;
$bigButtonPadding: 16px 20px;

$bigButtonHeight: 50px;

$filterButtonWaitingColor: red;
$filterButtonWaitingColorExtra: #ff9245;
$filterButtonInProcessColor: #ff6a00;
$filterButtonReadyColor: green;