@import '../../../app/styles/variables/mixins';
@import '../../../app/styles/variables/variables';

.stuffProfileWork_mainBlock {
    font-size: 20px;

    .stuffProfileWork_title {
        margin-bottom: $defaultLargeMargin;
    }
    .stuffProfileWork_hours {
        @include divSmallMarginBottom;
        margin-bottom: $defaultExtraLargeMargin;
    }
    .stuffProfileWork_salary {
        @include profileAdminSalaryFormStyles(0);
        margin-bottom: $defaultLargeMargin;
    }
    .controlBlock {
        .calcButton {
            button {
                height: 50px;
            }
        }
    }
}