@import '../../../app/styles/variables/mixins';
@import '../../../app/styles/variables/variables';

.createSpecificationModal_mainBlock {
    @include defaultModalStyle;
    @include flexColumnOnly;
    gap: $defaultLargeMargin;
    min-width: 500px;

    .specificationModal_specifications {
        background-color: $themeColorMilk;
        padding: $defaultLargeMargin;
        border-radius: $smallBorderRadius;

        .specifications_specificationsList {
            @include divSmallMarginBottom;
            padding-right: $defaultSmallMargin;
            overflow-y: auto;
            max-height: 300px;
            @include activeEntity;
        }
    }

    .specificationModal_createBlock {
        @include createEntityForm;
    }
}