@import '../../app/styles/variables/mixins';
@import '../../app/styles/variables/variables';

.clientCard_background {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $themeColorGray;
    border-radius: $defaultBorderRadius;
    padding: $defaultLargeMargin;

    h3 {
        text-align: center;
        text-decoration: underline;
        margin: 0 0 5px 0;
    }
    p {
        margin: 3px 0;
    }
}
