@import '../../../../app/styles/variables/mixins';
@import '../../../../app/styles/variables/variables';

.categories, .tableBox {
  padding: $defaultLargeMargin;
  background-color: $themeColorDark;
  border-radius: $defaultBorderRadius;
}

.categories {
  grid-area: categories;
}

.tableBox {
  grid-area: tableBox;
}


