@import '../../../app/styles/variables/mixins';
@import '../../../app/styles/variables/variables';

.workAct_wrapper {
    @include wrapperMainBlock;
    // перезаписанные свойства
    min-height: 100%;
    padding: 0;
    width: 100%;

    //background-color: gray;
    display: flex;
    justify-content: center;
    color: black;

    .workAct_mainBox {
        //width: 400px;
        width: 100%;
        height: 100%;
        border: 1px solid white;
        //border-radius: $extraSmallBorderRadius;
        background-color: white;
        padding: $defaultSmallMargin;
        @include divSmallMarginBottom;

        .workAct_header {
            display: flex;
            width: 100%;
            line-height: $minLineHeight;

            .header_customer {
                @include workActHeaderBlock;
            }
            .header_master {
                @include workActHeaderBlock;
            }
        }

        .workAct_date {
            font-size: 18px;
            line-height: $minLineHeight;
            text-align: center;

            .date_title {
                font-weight: bold;
            }
            .date_date {

            }
        }

        .workAct_title {
            font-size: 18px;
            line-height: $minLineHeight;
            text-align: center;

            .title_title {
                font-weight: bold;
            }
            .title_info {

            }
        }

        .workAct_works {
            @include workActProductBlock;
        }

        .workAct_products {
            @include workActProductBlock;
        }

        .workAct_discount {
            margin-top: $defaultLargeMargin;
            padding-top: $defaultSmallMargin;
            border-top: 1px solid black;
            line-height: $minLineHeight;
            text-align: right;
            width: 100%;
        }

        .workAct_result {
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 24px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            padding: $defaultSmallMargin 0;
        }
    }
}