@import '../../../app/styles/variables/mixins';
@import '../../../app/styles/variables/variables';

.stuffProfileMainBlock {
    @include profileAdminMenuStyles;

    .profile_content {
        width: 75%;
        @include flexColumn;
        gap: $defaultLargeMargin;

        > div {
            border-radius: $largeBorderRadius;
            background-color: $themeColorDark;
            padding: $defaultLargeMargin;
            width: 100%;
        }

        .content_title {
            height: 80px;
            @include flexBetween;

            .title_name {
                width: 100%;
            }
            .title_textInput {

            }
        }
        .content_info {
            height: 100%;
        }
    }
}