@import '../../../../app/styles/variables/mixins';
@import '../../../../app/styles/variables/variables';

.profile_mainBox {
    @include flexOnlyBetween;

    .profile_menu {
        .menu_user {
            @include flexOnlyBetween;
            gap: $defaultLargeMargin;
            margin-bottom: $defaultExtraLargeMargin;

            .user_image {
                @include flexCenter;
                background-color: orange;
                border-radius: 50%;
                width: 50px;
                height: 50px;
            }
            .user_info {
                @include flexColumn;
                //gap: $defaultSmallMargin;

                .info_name {
                    border-bottom: 1px solid black;
                }

            }
        }
        .menu_list {

        }
    }
    .profile_content {

    }
}